<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <div>
      <a mat-button  (click)="onSelect('accueil')"> Accueil </a>
      <a mat-button  (click)="onSelect('votePage')"> Articles en cours de vote </a>

      <mat-slide-toggle (change)="onChangeDataSource(toggleDataSource)" #toggleDataSource>
        <strong *ngIf="toggleDataSource._checked">MySQL</strong>
        <strong *ngIf="!toggleDataSource._checked">BlockChain</strong>
      </mat-slide-toggle>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar>
