<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Eat Healthy LabelChain</h1>
    <div style="margin:auto">
      <a routerLink="/homepage" mat-button> Accueil </a>
      <a routerLink="/votepage" mat-button> Articles en cours de vote </a>
      <a routerLink="/myProposals" mat-button> Mes propositions en cours de vote </a>


      <mat-slide-toggle #toggleDataSource (change)="onChangeDataSource(toggleDataSource)">
        <strong *ngIf="toggleDataSource._checked">MySQL</strong>
        <strong *ngIf="!toggleDataSource._checked">BlockChain</strong>
      </mat-slide-toggle>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
