<div class="row" style="height:100%">
  <div class="col-sm-2" style="height:100%">
    <div class="row" style="margin:1%;height:30%">
      <app-user-data-votes></app-user-data-votes>
    </div>
    <div class="row" style="margin:1%;height:70%">
      <app-user-history></app-user-history>
    </div>
  </div>
  <div class="col-sm-10"  style="height:100%">
    <div class="row" style="height:10%">
      <app-user-search-vote></app-user-search-vote>
    </div>
    <br>
    <div class="row" style="height:90%">
      <app-user-result-vote></app-user-result-vote>
    </div>
  </div>
</div>
