<mat-card style="height:100%">
  <mat-card-header>
    <mat-card-title>History</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row" style="margin:auto; padding-top:10px">
      <div class="col-sm-12">
        <div class="row">
          <h3>Miel de montagne</h3>
          <p>
            <strong>Status: </strong>En cours
          </p>

          <p>
            <strong>Mon vote: </strong>Favorable/Défavorable
          </p>

          <p>
            <strong>Fin du vote : </strong>ljlnn
          </p>
        </div>
        <hr>
        <div class="row">
          <h3>Miel de montagne</h3>
          <p>
            <strong>Status: </strong>En cours
          </p>

          <p>
            <strong>Mon vote: </strong>Favorable/Défavorable
          </p>

          <p>
            <strong>Fin du vote : </strong>ljlnn
          </p>
        </div>
      </div>

    </div>


  </mat-card-content>
</mat-card>
