<mat-card class="user-profile">
  <mat-card-header class="user-profile__header">
    <mat-card-title class="user-profile__title">Profil Utilisateur</mat-card-title>
  </mat-card-header>
<!--  <mat-divider></mat-divider>-->
  <mat-card-content class="user-profile__content">
    <div class="row">
      <div class="col-sm-12" style="margin:auto">
        <p>
          <strong>Adresse</strong><br/><span style="font-size:1.2vh">{{ walletAddress }}</span>
        </p>

        <p>
          <strong>Réputation</strong><br/> <span>{{ reputationPoints }}</span>
        </p>

        <p>
          <strong>Nombre de votes restant</strong><br><span>{{ remainingVotes }}</span>
        </p>
      </div>

    </div>


  </mat-card-content>
</mat-card>
