<mat-card style="height:100%">
  <mat-card-header>
    <mat-card-title>Profil Utilisateur</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row" style="padding-top:10px">
      <div class="col-sm-12">
        <p>
          <strong>Adresse</strong> : <span style="font-size:11px">{{ walletAddress }}</span>
        </p>

        <p>
          <strong>Réputation</strong> : 0
        </p>

        <p>
          <strong>Nombre de votes restant</strong> : 0
        </p>
      </div>

    </div>


  </mat-card-content>
</mat-card>
