<div class="row" style="padding:1%">
  <div class="col-sm-10">
    <mat-card style="word-break: break-word">
      <p>Le {{ product.startDate }}, vous avez proposé le produit {{ product.product_name }}
        <strong>({{ product.code }})</strong></p>
      <p>Date de début : <strong>{{ product.startDate }} </strong> - Date de fin :
        <strong>{{ product.endDate }} </strong>- Durée du vote : 7 jours</p>
    </mat-card>
  </div>
  <div class="col-sm-2" style="text-align: center; vertical-align: middle;display: table-cell">
    <button disabled mat-button>Temps restant : {{ timeLeft }}</button>
  </div>
</div>
