<!--<mat-toolbar color="primary">Angular Truffle Box</mat-toolbar>-->
<!--<app-meta-sender></app-meta-sender>-->
<div style="margin:auto;">
  <app-header (changeDataSource)="onDataSourceChanged($event)" (pageSelected)="onNavigate($event)"></app-header>
</div>
<div [className]="'app'">

<!--  <app-content-homepage *ngIf="loadedPage === 'accueil'"></app-content-homepage>-->
<!--  <app-content-votespage *ngIf="loadedPage === 'votePage'"></app-content-votespage>-->
<!--  <app-content-my-proposals *ngIf="loadedPage === 'myProposals'"></app-content-my-proposals>-->
  <router-outlet></router-outlet>
</div>
