<mat-card>
  <mat-card-header>Balance</mat-card-header>
  <mat-card-content>
    <mat-form-field class="address-field" id="address-selector">
      <mat-select (selectionChange)="refreshBalance()" [(value)]="model.account" name="account" placeholder="Address">
        <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>You have <span id="balance">{{model.balance}}</span> META</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>Send MetaCoin</mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input (change)="setAmount($event)" id="amount" matInput placeholder="Amount" type="text">
    </mat-form-field>
    <mat-form-field class="address-field">
      <input (change)="setReceiver($event)" id="receiver" matInput placeholder="Receiver Address" type="text">
    </mat-form-field>
    <button (click)="sendCoin()" id="send" mat-button>Send MetaCoin</button>
  </mat-card-content>
</mat-card>


