<mat-card style="height:100%">
  <mat-card-header>
    <mat-card-title>Gestionnaire de produit par l'utilisateur</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row" style="padding-top:2%; text-align: center">
      <p>Entrez un nouveau code-barre ou un code-barre existant à modifier</p>
      <mat-form-field appearance="fill" style="margin:0 auto">
        <mat-label>Code Barre</mat-label>
        <input #input_product_code (input)="checkStatusProduct(input_product_code)" [(ngModel)]="barcode" matInput>
      </mat-form-field>
    </div>
    <div class="row" style="padding-top:2%; text-align: center; margin:auto">
      <div #div_inputAddProduct style="display:none">
        <button (click)="openDialog()" color="primary" mat-raised-button>Ajouter un nouveau produit</button>
      </div>
      <div #div_inputUpdateProduct style="display:none">
        <button (click)="openDialogModify(input_product_code)" color="accent" mat-raised-button>Mise à jour d'un
          produit
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
