<mat-dialog-content>
  <!-- ADD NEW PRODUCT -->

  <h2>Nouveau Produit : <span [innerText]='data.codebarreValue'></span></h2>
  <mat-divider></mat-divider>

  <form
    (ngSubmit)="addProduct(productName_inputText, proteines_inputText, glucide_inputText, sel_inputText, sucre_inputText, energie_inputText, energiekcal_inputText, fibre_inputText, matgra_inputText, acidegrassature_inputText, sodium_inputText, ingredients_inputText, quantite_inputText, type_inputText, emballage_inputText, labels_inputText,additifs_inputText)">
    <div class="row" style="margin:auto; padding-top:10px">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Nom du produit</mat-label>
          <input #productName_inputText id="productName_inputText" matInput name="codebarre_inputText"
                 placeholder="Entrez un nom de produit" type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Protéines (en g)</mat-label>
          <input #proteines_inputText matInput name="codebarre_inputText"
                 placeholder="Entrez la quantité en protéines du produit"
                 type="number">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Glucides (en g)</mat-label>
          <input #glucide_inputText matInput placeholder="Entrez la quantité en glucide du produit"
                 type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Sel (en g)</mat-label>
          <input #sel_inputText matInput name="codebarre_inputText"
                 placeholder="Entrez la quantité de sel du produit" type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Sucre (en g)</mat-label>
          <input #sucre_inputText matInput name="codebarre_inputText"
                 placeholder="Entrez la quantité de sucre du produit"
                 type="number">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Energie (en kJ)</mat-label>
          <input #energie_inputText matInput placeholder="Entrez la valeur énergétique du produit" type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Energie (en kCal)</mat-label>
          <input #energiekcal_inputText matInput placeholder="Entrez la valeur énergétique du produit" type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Fibre (en g)</mat-label>
          <input #fibre_inputText matInput placeholder="Entrez la quantité en fibre du produit"
                 type="number">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Matière grasse (en g)</mat-label>
          <input #matgra_inputText matInput placeholder="Entrez la quantité de matière grasse du produit" type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Acides gras saturés (en g)</mat-label>
          <input #acidegrassature_inputText matInput placeholder="Entrez la quantité en acides gras saturés"
                 type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Sodium</mat-label>
          <input #sodium_inputText matInput placeholder="Entrez la quantité en sodium du produit" type="number">
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin:auto; padding-top:10px">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Ingredients (Liste d'ingrédients séparés par une virgule)</mat-label>
          <input #ingredients_inputText matInput placeholder="Entrez les ingrédients du produit (séparés par virgule)"
                 type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Quantité (en g)</mat-label>
          <input #quantite_inputText matInput placeholder="Entrez le poids du produit" type="number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Type de produit</mat-label>
          <input #type_inputText matInput placeholder="Eg : Sauce" type="text">
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Emballage (Liste d'emballages séparés par une virgule)</mat-label>
          <input #emballage_inputText matInput placeholder="Eg: Plastique" type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Labels (Liste de labels séparés par une virgule)</mat-label>
          <input #labels_inputText matInput placeholder="Eg : Bio, Label Rouge" type="text">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Additifs (Liste d'additifs séparés par une virgule)</mat-label>
          <input #additifs_inputText matInput placeholder="Eg : e310" type="text">
        </mat-form-field>
      </div>
      <div *ngIf="!server_sc.isChecked" class="col-sm-6">
        <h4>Upload Section</h4>
        <div id="fileSelector">
          <input #csvInput hidden="true" type="file"  accept=".png"  ng2FileSelect [uploader]="uploader"/>
<!--          <button mat-flat-button color="primary" type="button" (click)="csvInput.click()">Choose Spreadsheet File (CSV)</button>-->
        </div>
        <div>
          <div class="row uploadList" *ngFor="let item of uploader.queue">
            <div class="col-sm-4">{{item.file.name}}</div>
            <div class="col-sm-4">
              <div class="progress">
                <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
              <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
            </div>
            <img *ngIf="imageProduct" width="340px" height="200px" alt="" src="data:image/png;base64,{{imageProduct}}" />
          </div>
        </div>

      </div>

    </div>

    <div mat-dialog-actions style="margin:auto">
      <button mat-button type="submit">Add Product</button>
    </div>


  </form>
</mat-dialog-content>
