<mat-card style="height:100%">
  <mat-card-header>
    <mat-card-title>Filtre</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row" style="margin:auto; padding-top:10px">
      <div class="col-sm">
        <ul style="list-style-type:none;margin-top: 4px;">
          <li>
            <mat-checkbox style="margin: 0 12px;line-height:5">
              <span style="white-space: initial;"></span>
            </mat-checkbox>
          </li>
          <li>
            <mat-checkbox style="margin: 0 12px; line-height:5">
              <span style="white-space: initial;"></span>
            </mat-checkbox>

          </li>
        </ul>

      </div>
    </div>


  </mat-card-content>
</mat-card>
