<mat-checkbox (change)="TriggerDateOrder()" style="margin: 0 12px;line-height:5">
  <span style="white-space: initial;">ORDRE CHRONOLOGIQUE</span>
</mat-checkbox>
<mat-checkbox (change)="TriggerAlphabeticalOrder()" style="margin: 0 12px; line-height:5">
  <span style="white-space: initial;">ORDRE ALPHABETIQUE</span>
</mat-checkbox>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select (selectionChange)="TriggerTypeSelected()" [(ngModel)]="typeSelected">
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{category.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
